* {
    margin:0;
    padding:0;
}

body {
    font-size: 16px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.container-left {
    flex: 30% 0;
    min-height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(15, 9, 47);
    padding: 1vh 1vh 0 1vh;
    cursor: url('white_paw.png'), auto;
}

.box-left-four {
    margin-bottom: 5vh;
}

.my-picture {
    height: 25vh;
    animation: my-picture 1.5s 1;
    border-radius: 58% 42% 54% 46% / 48% 63% 37% 52% ;
}

.container-left .box-left {
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(150, 215, 255);
    text-decoration-thickness: 3px;
}

.container-left .bloc-hover:hover {
    background-color: white;
    border-radius: 20em 100em / 120em;
    border: solid rgb(150, 215, 255);
}

.container-left a:hover {
    cursor: url('white_paw.png'), auto;
}

.container-right a:hover {
    cursor: url('black_paw.png'), auto;
}

.container-left a {
    color: white;
}

.box-one {
    display: flex;
}

.box-one:not(:last-child) {
    margin-bottom: 0.8vh;
}

.github-hover a:hover {
    color: black;
    cursor: url('black_paw.png'), auto;
}

.github-hover img:nth-child(1) {
    position: absolute;
}

.github-hover:hover img:nth-child(1),
.github-hover img:nth-child(2) {
    opacity: 0;
}

.github-hover:hover img:nth-child(2) {
    opacity: 1;
}

.mini-icon {
    margin-right: 1vh;
    animation: mini-icon 1.5s 1;
}

.jauge-complet, 
.jauge-two-empty {
    height: 0.5em;
    width: 8em;
    border-radius: 1em;
}

.jauge-complet {
    background-color: #bb00ff;
    animation: jauge 1.5s 1;
}

.jauge-one {
    width: 8em;
    border-radius: 1em;
    background-color: #fdfeff;
    z-index: 1;
    margin-left: 0.3em;
}

.jauge-two-empty {
    width: 5em;
    background-color: #bb00ff;
    animation: jauge-not-complete 1.5s 1;
    z-index: 2;
} 

.box-three {
    display: flex;
    align-items: center;
}

.box-three li {
    margin-right: 1em;
}

.box-right-one {
    margin-bottom: 1em;
}

.box-right-two,
.box-right-three,
.box-right-four {
    margin-bottom: 2em;
}

.formations-bloc .padding-space-bloc {
    padding-top: 0.4em;
}


.experiences-bloc .padding-space-bloc {
    padding-top: 0.8em;
}

.experiences-bloc ul:not(.title-and-date ul) {
    padding-top: 0.5em;
}




.title-and-logo,
.title-and-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-and-logo img {
    margin-top: 0.7em;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
    margin-right: 1em;
}

h3 {
    font-size: 1.4em;
}

.epitech-logo {
    height: 3em;
    animation: logo 1.5s 1;
    animation-delay: 1s;
}

.bloc-two {
    display: flex;
    justify-content: space-between;
}

.competences {
    display: flex;
    flex-direction: column;
}

.competences li {
    font-weight: bold;
}

.competences:not(:last-child) {
    margin-right: 1em;
}

.competences {
    align-items: center;
}

.html,
.css,
.js,
.python {
    padding-top: 0.3em;
    width: 3em;
    height: 3em;
}

.bash {
    width: 3.5em;
    height: 3.5em;
}

.c {
    padding-top: 0.3em;
    width: 2.8em;
    height: 3em;
}

.php {
    width: 3.5em;
    height: 2.5em;
    padding-top: 0.7em;
}

.container-right {
    flex: 70% 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1vh 0 1vh;
    cursor: url('black_paw.png'), auto;
}

img {
    height: 3.5vh;
}

.container-right a {
    color: rgb(15, 9, 47);
}

.line {
    height: 0.3vh;
    background-color: rgb(15, 9, 47);
    animation: line 1.5s 1;
    animation-delay: 1s;
}

.box-right-three .title-and-date,
.box-right-four .title-and-date {
    margin-top: 0.5em;
}

.container-right .bloc-hover:hover {
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 20em 100em / 120em;
    border: solid rgb(150, 215, 255);
}

.container-right a:hover {
    color: black;
}


@keyframes jauge {
    from {
      width: 0em;
    }
  
    to {
      width: 8em;
    }
}


@keyframes jauge-not-complete {
    from {
      width: 0em;
    }
  
    to {
      width: 5em;
    }
}


@keyframes line {
    from {
      width: 0em;
    }
  
    to {
      width: 100%;
    }
}


@keyframes logo {
    from {
        height: 0em;
    }
  
    to {
        height: 3em;
    }
}


@keyframes my-picture {
    from {
        height: 0em;
    }
  
    to {
        height: 25vh;
    }
} 

@keyframes mini-icon {
    from {
        height: 0em;
    }
  
    to {
        height: 2em;
    }
}